{% extends 'base.html' %}

{% block title %}Banks {% endblock %}


{% block ad_space %}

<div class="container">
    <div class="row">
        <div class="col-md-1">   </div>
        <div class="col-md-10 ad_space_top">ad here</div>
        <div class="col-md-1"> </div>
    </div>
</div>

{% endblock %}


{% block side_ad_space %}

<div class="side_ad_space">
ad here
</div>

{% endblock %}


{% block content_area %}

{% for bank in all_banks %}
    {# Each "bank" is a Bank model object. #}
    <a href="{{ bank.website_address}}" target="_blank">{{ bank.bank_name|upper }}</a> <br />


{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if all_banks.has_previous %}
            <a href="?page={{ all_banks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_banks.number }} of {{ all_banks.paginator.num_pages }}.
        </span>

        {% if all_banks.has_next %}
            <a href="?page={{ all_banks.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}
