{% load staticfiles %}
<html>
    <head>
        <title>{% block title %} Accra In One{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{STATIC_URL }}bootstrap/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{{STATIC_URL }}bootstrap/css/bootstrap-theme.min.css">

        <script src="{{STATIC_URL }}custom/js/jquery.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="{{STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

        <link href="{{STATIC_URL }}custom/css/carousel.css" rel="stylesheet">

        <link href="{{STATIC_URL }}custom/css/navbar-fixed-top.css" rel="stylesheet">


        <!-- customized css-->
        <link href="{{STATIC_URL }}custom/css/style.css" rel="stylesheet">

        <link href="{{STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">

        <link rel="shortcut icon" href="{{STATIC_URL }}custom/images/favicon.ico" type="image/x-icon">

        <link rel="icon" href="{{STATIC_URL }}custom/images/favicon.ico" type="image/x-icon">

    </head>
    <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="row site_banner">
            <div class="col-md-4">
                Accra In One
            </div>
            <div class="col-md-8">
                for everything Accra
            </div>
        </div>

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">
              <img src="{% static 'custom/images/logo.jpg' %}" >
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Finance <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/finance/banks/">Banks</a></li>
                <li><a href="/finance/micro_finance/">Micro finance firms</a></li>
                <li><a href="/finance/savings_n_loans/">Savings & loans</a></li>
              </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Auto <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">New Cars</a></li>
                <li><a href="#">Used Cars</a></li>
                <li><a href="#">Spare parts</a></li>
              </ul>
            </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Food <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Restaurant</a></li>
                <li><a href="#">Chop bar</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tech <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Telcos</a></li>
                <li><a href="#">Content Providers</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Health <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Traditional</a></li>
                <li><a href="#">Pharmarcy</a></li>
                <li><a href="#">Chemist</a></li>
                <li><a href="#">Hospital</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Education <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Varisty/ Colleges</a></li>
                <li><a href="#">Polytechnic</a></li>
                <li><a href="#">Vocational</a></li>
                <li><a href="#">High School</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Shopping</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Night Clubs</a></li>
                <li><a href="#">Legal services</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    {% block ad_space %} ad space here {% endblock %}

    <div class="row">
        <div class="col-md-2">

    {% block side_ad_space %} ad space here {% endblock %}

        </div>
        <div class="col-md-6">
                {% block carousel %}

                 {% endblock %}

                {% block content_area %}

                 {% endblock %}

        </div>
        <div class="col-md-4">
            {% block social_site_trending %}

            {% endblock %}
        </div>
    </div>


    {% block footer %}
    <div class="footer">
       <div class="row">
           <div class="col-md-2">
               <table class="table">
               <tr><th> About This site  </th></tr>
               <tr><td> <a href="#">About this Website</a>  </td></tr>
               <tr><td> <a href="#">Report a Tech Issue With This Site</a>  </td></tr>
               <tr><td> <a href="#">Minnesota Encyclopedia</a>  </td></tr>
               <tr><td> <a href="#">State Symbols</a>  </td></tr>
               </table>
           </div>

           <div class="col-md-2">
               <table class="table">
               <tr><th>Citizen Resources</th></tr>
               <tr><td> <a href="#">Capitol Area Maps</a>  </td></tr>
               <tr><td> <a href="#">Courts</a>  </td></tr>
               <tr><td> <a href="#">State Government Directory</a>  </td></tr>
               <tr><td> <a href="#">State Social Media</a>  </td></tr>
               </table>
           </div>

           <div class="col-md-2">
               <table class="table">
               <tr><th>Business Resources</th></tr>
               <tr><td> <a href="#">Banks</a>  </td></tr>
               <tr><td> <a href="#">Micro Finance</a>  </td></tr>
               <tr><td> <a href="#">Jobs</a>  </td></tr>
               </table>
           </div>

           <div class="col-md-2">
               <table class="table">
               <tr><th>Tourism Resources</th></tr>
               <tr><td> <a href="#">Hotels</a>  </td></tr>
               <tr><td> <a href="#">Restaurants</a>  </td></tr>
               <tr><td> <a href="#">Clubs</a>  </td></tr>
               </table>
           </div>

           <div class="col-md-2">
               <table class="table">
               <tr><th>Utility Providers</th></tr>
               <tr><td> <a href="#">Water</a>  </td></tr>
               <tr><td> <a href="#">Electricity</a>  </td></tr>
               <tr><td> <a href="#">Sanitation</a>  </td></tr>
               </table>
           </div>

           <div class="col-md-2">
               <table class="table">
               <tr><th>Advertise</th></tr>
               <tr><td> <a href="#">Place an ad</a>  </td></tr>
               </table>
           </div>

       </div>

        <div class="row custom_text">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                Connect with Accra In One
            </div>
             <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-twitter-square fa-5x"></i>
            </div>
             <div class="col-md-4">
                <i class="fa fa-facebook-square fa-5x"></i>
            </div>
             <div class="col-md-4">
                <i class="fa fa-youtube-square fa-5x"></i>
            </div>
        </div>

    </div>
    {% endblock %}


    </body>
</html>